<h1><%= @appointment.date_format %></h1>
<p>
  <%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %><br>
  <%= link_to @appointment.patient.name, patient_path(@appointment.patient) %><br>
